<div class="contact-us section-container" id="contact-us">
    <div class="contact-us__container">
        <h2>تواصل معنا</h2>
        <div class="contact-us__container__display">
            <div class="contact-us__form">
                <form>
                    <label>
                        <span>الإسم</span>
                        <input type="text" name="name" required>
                    </label>
                    <label>
                        <span>البريد الإلكتروني</span>
                        <input type="email" name="email" required>
                    </label>
                    <label>
                        <span>الرسالة</span>
                        <textarea cols="30" rows="15" required></textarea>
                    </label>
                    <button type="submit">إرسال</button>
                </form>
            </div>
            <div class="contact-us__info">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.1785100243746!2d55.276565084567565!3d25.197201837882808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43348a67e24b%3A0xff45e502e1ceb7e2!2z2KjYsdisINiu2YTZitmB2Kk!5e0!3m2!1sar!2seg!4v1679666563106!5m2!1sar!2seg"
                    width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="info">
                    <div>
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                            <b>العنوان</b>
                        </span>
                        <h3>بوليفارد الشيخ محمد بن راشد - وسط مدينة دبي - دبي 1</h3>
                    </div>
                    <div>
                        <span>
                            <i class="fas fa-envelope"></i>
                            <b>البريد الإلكتروني</b>
                        </span>
                        <h3>example@example.com</h3>
                    </div>
                    <div>
                        <span>
                            <i class="fas fa-phone"></i>
                            <b>الهاتف</b>
                        </span>
                        <h3>00 00000 000000</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>